body {
    background-color: #ffff66;
    font-family: 'ZCOOL KuaiLe', cursive;
}

#calendar {
    width: 100%;
}

#calendar a {
    color: #666;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width: 14.2857142857%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background: #ffa500;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar .days li {
    height: 180px;
    transition: 0.6s;
}

#calendar .days li:hover {
    background-color: #b3e6ff;
    padding: 16px 10px;
    transition: all 0.3s;
    
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #ffbb33;
    color: aliceblue;
    width: 25px;
    border-radius: 50%;
    float: left;
}
.weekend {
	background-color: burlywood;
}
#calendar .music {
		background-color: #66ffb3;
}
#calendar .party {
		background-color: #66ffb3;
}
#calendar .sport {
		background-color: #80ff80;
}
#calendar .vsc {
		background-color: #b366ff;
}
#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #666;
    line-height: 14px;
    background-color: #80ccff;
    border: 1px solid #b5dbdc;
    text-decoration: none;
}
	
#calendar .music .sport .vsc .party {
    color: #666;
    margin: 6px 0 7px 0;
    text-decoration: none;
}

#calendar .other-month {
    background-color: #005580;
    color: #666;
}

@media screen and (max-width: 768px) {
    #calendar .weekdays, #calendar .other-month {
        display:none;
    }
    
    #calendar li {
        height: auto !important;
        border: 1px solid #000;
        border-radius: 3px;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    
}