body {
    margin: 0;
    padding: 0;
}
/* Media Queris */
@media screen and (max-width:600px) {
    .col-s-1{width:8.33%;}
    .col-s-2{width:16.66;}
    .col-s-3{width:25%;}
    .col-s-4{width:33.33%;}
    .col-s-5{width:41.66%;}
    .col-s-6{width:50%;}
    .col-s-7{width:58.33%;}
    .col-s-8{width:66.66%;}
    .col-s-9{width:75%;}
    .col-s-10{width:83.33%;}
    .col-s-11{width:91.66%;}
    .col-s-12{width:100%;}
    }

@media screen and (min-width:601px) {
    .col-l-1{width:8.33%;}
    .col-l-2{width:16.66;}
    .col-l-3{width:25%;}
    .col-l-4{width:33.33%;}
    .col-l-5{width:41.66%;}
    .col-l-6{width:50%;}
    .col-l-7{width:58.33%;}
    .col-l-8{width:66.66%;}
    .col-l-9{width:75%;}
    .col-l-10{width:83.33%;}
    .col-l-11{width:91.66%;}
    .col-l-12{width:100%;}
}

.container {
    width: 756px;
    justify-content: center;
    margin: 0 auto;
}

/* Row */
.row, nav.row ul {
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: #FEF6A3;
    padding: 0 10px 10px;
}

.box input[type="button"] {
    text-align: center;
}

.box1 {
    min-height: 100px;
    background-color: #C2FEBE;
    margin-top: 5px;
}

.row input {
    width: 83%;
    margin-left: 25%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px #111;
}

.button {
    height: 26px;
    width: 570px;
    padding: 7px 0 0;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #000;
    background-color: lightgray;
}

table {
    width: 698px;
    margin: 0 10px;
}

th {
    background-color: #C8B8FF;
    height: 35px;
}

th:nth-child(1) {
    width: 455px;
}

td {
    height: 35px;
    padding: 0 10px;
}

table, td {
  border: 1px solid black;
    border-collapse: collapse;
}

td {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

tr:nth-child(2) {
    box-shadow: inset 2px 0px 0px #000;
}

tr:nth-child(3) {
    box-shadow: inset 2px 0px 0px #000;
}