@media screen and (max-width:600px){
.cols1{width: 8.33%}
.cols2{width: 16.66%}
.cols3{width: 25%}
.cols4{width: 33.33%}
.cols5{width: 41.66%}
.cols6{width: 50%}
.cols7{width: 58.33%}
.cols8{width: 66.66%}
.cols9{width: 75%}
.cols10{width: 83.33%}
.cols11{width: 91.66%}
.cols12{width: 100%}
}

@media screen and (min-width:601px){
.colb1{width: 8.33%}
.colb2{width: 16.66%}
.colb3{width: 25%}
.colb4{width: 33.33%}
.colb5{width: 41.66%}
.colb6{width: 50%}
.colb7{width: 58.33%}
.colb8{width: 66.66%}
.colb9{width: 75%}
.colb10{width: 83.33%}
.colb11{width: 91.66%}
.colb12{width: 100%}
}


body{
	margin-left: 5px;
	margin-top: -22px;
	width: 100%;
}
.container{
	width: 80%;
}
.box1{
	width: 93%;
	padding-left: 10px;
	padding-bottom: 14px;
	background-color: #ffffb3;
	display: flex;
	flex-wrap: wrap;
}
.box2{
	width: 93%;
	margin-top: -7px;
	padding-top: -7px;
	display: flex;
	flex-wrap: wrap;
}
.text{
	padding-top: 28px;
}
.text p{
	font-size: 14px;
}
.tablbutton{
	border-collapse: collapse;
}
.tablbutton table{
	width: 100%;
	border-collapse: collapse;
}
.tablbutton tr{
	line-height: 28px;
}
.tablbutton td{
	width: 50%;
	border-collapse: collapse;
}
.tabldata{
	width: 50%;
	border: 2x solid black;
	border-collapse: collapse;
	font-size: 14px;
}
.tablinput{
	line-height: 28px;
	height: 30px;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: -8px;
	padding-bottom: -8px;
	border: 2x solid black;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 2px 2px 2px	2px white inset;
	border-collapse: collapse;
}	
.tablbutton button{
	width: 100%;
	border: 1x solid black;
	border-radius: 4px 4px 4px 4px;
}
.containerb{
	width: 90%;
}
.box2 div{
	width: 100%;
	margin-top: 14px;
	background-color: #b3ffcc;
}
.textb{
	padding-top: 7px;
}
.box2 h3{
	padding-left: 10px;
}
th{
	background-color: #cccccc;
}
.box2 table{
	width: 95%;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	margin-right: -5px;
	margin-bottom: 14px;
	border: 1px solid black;
	border-collapse: collapse;
}
.box2 table td{
	border: 1px solid black;
}
.esp{
	padding-left: 10px;
}
.centering{
	text-align: center;
}